RewriteEngine on

Options -Indexes

# Force hide file extensions
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

# Force www:
RewriteCond %{HTTP_HOST} ^bt.local [NC]
RewriteRule ^(.*)$ http://www.bt.local/$1 [L,R=301,NC]

# Error pages:
ErrorDocument 404 /error_pages/404.html
ErrorDocument 403 /error_pages/403.html